<div class="page-header">
  <h1>Add Tool</h1>
</div>

<% if @tool.errors.any? %>
  <% @tool.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>


<form action="/create_tool" class="form-horizontal">
  <!-- Label and input for tool_name -->
  <div class="form-group">
    <label for="tool_name" class="col-sm-2 control-label">
      Tool name
    </label>
    <div class="col-sm-10">
      <input type="text" id="tool_name" name="tool_name" placeholder="Tool name" class="form-control" value="<%= @tool.tool_name %>">
    </div>
  </div>

  <!-- Label and input for user_id -->
  <div class="form-group">
     <label for="user_id" class="col-sm-2 control-label">
      User
    </label>
    <div class="col-sm-10">
      <input type="hidden" name="user_id" class="form-control" value="<%= current_user.id %>">
    </div>
     <input type="hidden" name="available" value="1">
    <div class="col-sm-offset-2 col-sm-10">
      <input type="submit" value="Create Tool" class="btn btn-primary">
    </div>
  </div>
</form>
