<div class="page-header">
  <h1>Membership #<%= @membership.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Group</dt>
  <dd><%= @membership.group_id %></dd>

  <dt>User</dt>
  <dd><%= @membership.user_id %></dd>

</dl>
