<div class="page-header">
  <h1>Users</h1>
</div>

<p><a href="/users/new" class="btn btn-primary">Add a User</a></p>



  <tbody>
    <% @users.each do |user| %>
      <ul>
        <li>
          <div><%= user.username %></div>

          <a href="/users/<%= user.id %>" class="btn btn-primary">
            <i class="fa fa-search-plus"></i>
          </a>

          <a href="/users/<%= user.id %>/edit" class="btn btn-warning">
            <i class="fa fa-edit"></i>
          </a>
          <%= link_to("<i class=\"fa fa-trash-o\"></i>".html_safe,
              delete_user_url(user),
              :class => "btn btn-danger",
              :method => "delete") %>




        </li>
      </ul>
    <% end %>
  </tbody>
</table>

