<h1>You're invited to join NeighborShare</h1>

<p><%= @greeting %>,</p>
<p><%= @invitation.sender.username %> has invited you to join NeighborShare</p>
<p>Join <a href="http://localhost:3000/users/sign_up</a>">here</a>.</p>
